/* universal */

html, body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

/* header section */

header {
  background-color: #122341;
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

nav {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

nav a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  width: auto;
  text-decoration: none;
  padding: 20px 30px;
}

nav a:hover {
  color: #C5C9D2;
  text-decoration-line: underline;
  text-underline-offset: 10px;
  text-underline-color: grey;
  text-decoration-thickness: .5px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
}

.container i {
  margin: 0;
  padding: 0;
  color: #122341;
}

img {
  position: relative;
  width: 30%;
  min-width: 300px;
  height: auto;
  border: 2px solid #122341;
  margin: 2.5%;
  border-radius: 3%;
}

.content {
  margin-top: 15%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

/* main sections */

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 60%;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 25%;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 10%;
  color: grey;
}

p,
li {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.content a {
  text-decoration: none;
  color: #122341;
  font-weight: 300;
}

.content a:hover,
.content i:hover {
  color: grey;
}

/* id div formats */

#about,
#qualifications,
#experience,
#education,
#skillshonors,
#contact {
  margin: 2.5% 5%;
}

#about h2,
#qualifications h2,
#experience h2,
#education h2,
#skillshonors h2,
#contact h2 {
  color: #122341;
}

#experience h2,
#education h2 {
  padding-bottom: .75%;
}


#experience span,
#education span {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 450;
}

#experience a {
  color: #122341;
  text-decoration-line: underline;
  text-decoration-thickness: .75px;
  text-underline-offset: 2px;
  text-underline-color: #122341;
}

#experience em {
  font-weight: 375;
  font-size: 14px;
  padding-left: .25%;
}

#experience p,
#education p {
  line-height: 30%;
}

#skillshonors p {
  line-height: 150%;
}

/* footer section */

footer {
  background-color: #122341;
  text-align: right;
  margin: 0;
  padding: 1px 0;
}

 footer p {
   color: grey;
   font-size: 12px;
   margin-right: 2%;
 }

/* media codes */

@media only screen and (max-width : 955px) {
  .container {
    flex-wrap: wrap;
  }
  .content {
    margin: .5% 5% 2% 5%;
  }
  img {
    margin-left: 5%;
    margin-top: 5%;
  }
}

@media only screen and (max-width : 893px) {
  .container h2 {
    line-height: normal;
    margin-bottom: 1.5%;
  }
  .container h4 {
    margin-top: 0;
  }
  #experience p,
  #education p {
    line-height: normal;
    margin-bottom: 0;
    margin-top: 1%;
  }
}
